header {
    background-color: purple;
    text-align: center;
    font-size: 30px;
    }
    
    nav {
    background-color: rgba(128, 0, 128, 0.74);
    width: auto;
    height: auto;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    font-family: RobotoMed;
    }
    
    main {
    background-color: rgba(0, 0, 0, 0.404);
    width: auto;
    height: auto;
    margin: 0px;
    }
    
    body {
        margin: 0px;
        background-image: url("/DarkMC/background/background2.png");
        width: auto;
    }
    
    nav a {
        text-decoration: none;
        color: White;
        padding-bottom: 80px;
        padding-left: 15px;
    }
    
    @font-face { src: url(/DarkMC/fonts/MinecraftTen-VGORe.ttf);
    font-family: Minecraft;}
    @font-face { src: url(/DarkMC/fonts/Roboto-Bold.ttf);
        font-family: RobotoBold;}
    @font-face { src: url(/DarkMC/fonts/Roboto-Regular.ttf);
    font-family: Roboto;}
    @font-face {
        font-family: RobotoMed;
        src: url(/DarkMC/fonts/Roboto-Medium.ttf);}
.plugin2 {
    text-align: center;
    width: auto;
    height: auto;
}

.plugin1 {
    text-align: center;
    width: auto;
    height: auto;
}    
    
.plugin3 {
    text-align: center;
    width: auto;
    height: auto;
}

.plugin4 {
    text-align: center;
    width: auto;
    height: auto;
}

.pluginname4 {
    padding: 20px;
    font-family: Minecraft;
    font-size: 30px;
    color: white;
}

.plugin4_info {
    font-family: Minecraft;
    color: white;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.pluginname3 {
    padding: 20px;
    font-family: Minecraft;
    font-size: 30px;
    color: white;
}

.pluginname1 {
    padding: 20px;
    font-family: Minecraft;
    font-size: 30px;
    color: white;
}

.pluginname2 {
    padding: 20px;
    font-family: Minecraft;
    font-size: 30px;
    color: white;
}

.plugin3_info {
    font-family: Minecraft;
    color: white;
    font-size: 20px;
}

.plugin1_info {
    font-family: Minecraft;
    color: white;
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 20px;
}

.plugin2_info {
    font-family: Minecraft;
    color: white;
    padding-top: 15px;
    font-size: 20px;
}

footer {
    font-family: Minecraft;
    font-size: 25px;
    color: white;
    text-align: center;
}