header {
    background-color: purple;
    text-align: center;
    font-size: 30px;
    }
    
    nav {
    background-color: rgba(128, 0, 128, 0.74);
    width: auto;
    height: 64px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 25px;
    font-family: RobotoBold;
    }
    
    main {
    width: auto;
    height: 810px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    }
    
    body {
    margin: 0px;
    background-image: url("/DarkMC/background/background2.png");
    }
    
    nav a {
    text-decoration: none;
    color: White;
    padding-bottom: 0px;
    padding-left: 15px;
    }
    
    @font-face { src: url(/DarkMC/fonts/MinecraftTen-VGORe.ttf);
        font-family: Minecraft;}
    @font-face { src: url(/DarkMC/fonts/Roboto-Bold.ttf);
        font-family: RobotoBold;}
    @font-face { src: url(/DarkMC/fonts/Roboto-Regular.ttf);
        font-family: Roboto;}
    @font-face {
            font-family: RobotoMed;
            src: url(/DarkMC/fonts/Roboto-Medium.ttf);}

    footer {
        font-family: Minecraft;
        font-size: 30px;
        color: white;
        text-align: center;
    }