header {
background-color: purple;
text-align: center;
font-size: 30px;
}

nav {
background-color: rgba(128, 0, 128, 0.74);
width: auto;
height: 64px;
text-align: center;
font-size: 30px;
padding-bottom: 25px;
font-family: Minecraft;
}

main {
width: auto;
height: 810px;
margin: 0px;
background-color: rgba(0, 0, 0, 0.568);
}

body {
margin: 0px;
background-image: url("/DarkMC/background/background2.png");
}

nav a {
text-decoration: none;
color: White;
padding-bottom: 0px;
padding-left: 15px;
}

@font-face { src: url(/DarkMC/fonts/MinecraftTen-VGORe.ttf);
    font-family: Minecraft;}
@font-face { src: url(/DarkMC/fonts/Roboto-Bold.ttf);
    font-family: RobotoBold;}
@font-face { src: url(/DarkMC/fonts/Roboto-Regular.ttf);
    font-family: Roboto;}



.image1 {
    font-size: 35px;
    padding-left: 30px;
    position: absolute;
    top: 160px;
    left: 520px;
}

.image2 {
    font-size: 35px;
    padding-left: 30px;
    text-align: center;
    position: absolute;
    top: 160px;
    
    
}

.image3 {
    font-size: 35px;
    position: absolute;
    top: 160px;
    left: 900px;
    padding-left: 50px;
}

.image1_info {
    font-family: Minecraft;
    color: darkred;
}

.image2_info {
    font-family: Minecraft;
    padding-left: 10px;
    padding-bottom: 30px;
    color: darkred;
}

.image3_info {
    font-family: Minecraft;
    padding-left: 10px;
    padding-bottom: 30px;
    color: darkred;
    padding-right: 50px;
}

my-rt {
    font-family: Minecraft;
    color: white;
    font-size: 30px;
    background-color: none;
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.507);
    width: 180px;
    height: 40px;
    border-radius: 7px;
}

my-ftp {
    font-family: Minecraft;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 620px;
    left: 4px;
    text-decoration: overline;
    padding-top: 20px;
}

my-lcp {
    font-family: Minecraft;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 680px;
    left: 240px;
    color:white;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 7px;
    width: 900px;
}

my-lcp a {
    text-decoration: none;
    color: lightblue;
}

footer {
    font-family: Minecraft;
    font-size: 30px;
    color: white;
    text-align: center;
}